/*Design for Home*/

.home{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(ai_repair_20240429193910328.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    max-width: 100%;
}
h3{
    text-align: justify;
    font-size: 1500%;
    margin-top: 150px;
    margin-bottom: 0%;
    padding-left: 300px;
    color: gold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 
        -2px -2px 0 black,  
         4px -2px 0 black,
        -2px  4px 0 black,
         4px  4px 0 black;
}
p.desc{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  padding-left: 300px;
  font-size: 250%;
  text-shadow: -1px -1px 0 black,  
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}
.myname{
  color: gold;
  font-style: italic;
}
.myname:hover{
  background-color: white;
  color: black;
}
.btn {
  border: solid 3px;
  border-radius: 8px;
  border-color: rgb(3, 3, 3);
  background-color: white;
  padding: 50px 60px;
  font-size: 200%;
  font-weight: bold;
  cursor: grab;
  display: inline-block;
  margin-left: 300px;
  text-decoration: none;
  color: black;
}

.btn:hover {background: gold;}

.topnav {
 
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 30px;
    text-align: center;
    border: solid 2px;
    border-color: gold;
  }

  .topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
  }

  .topnav a:hover {
    background-color: gold;
    color: black;
    border-radius: 10px;
  }
  
  .topnav a.active {
    color: gold;
  }
  .topnav a.active:hover {
    color: black;
  }

  /*DESIGN FOR SHOP*/

.shop{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  max-width: 100%;
}
h1{
  border-radius: 25px;
  text-align: center;
  font-size: 700%;
  color: gold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 
      -2px -2px 0 black,  
       2px -2px 0 black,
      -2px  2px 0 black,
       2px  2px 0 black;
}
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: calc(100% - 40px);
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-family: arial;
    background-color: black;
    border: solid 3px;
    border-color:gold;
    border-radius: 15px;
  }

  h2{
    color: gold;
  }

  p.description{
    color: white;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .price {
    color: black;
    font-size: 25px;
    display: inline-block;
    background-color: white;
    text-align: center;
    width: 200px;
    border-radius: 10px;
  }
   img{
    width: 100%;
    border: solid 1px;
    border-color: gold;
    border-radius: 10px;
   }
   .card button {
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 12px;
    color: black;
    font-weight: bold;
    background-color:  gold;
    text-align: center;
    cursor: grab;
    width: 50%;
    font-size: 18px;
  }
  .card button:hover {
    background-color: gold;
    color: #000;
  }

  /*ABOUT*/
  .about{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  max-width: 100%;
}

h1{
	color: gold;
	font-family: Verdana;
	font-size: 100px;
	font-weight: bolder;
  padding-top: 50px;
}

a{
  color: gold;
  text-align: center;
  font-size: 150%;
  color: gold;
  text-decoration: none;
}
a:hover{
  color: black;
  background-color: gold;
  border-radius: 15px;
}
.haha{
  width: 200px;
  height: 200px;
  border: solid 4px;
  border-color: gold;
  border-radius: 100px;
}

.first{
  font-size: 300%;
  color: white;
  text-align: justify;
  width: 50%;
  margin-top: 120px;
  margin-left: 25px;
}

.intro{
  width: 100%;
  display: flex;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  text-align: justify;
  padding-left: 20px;
  margin-right: 25px;
  border: solid 2px;
  border-color: gold;
  background-color: black;
}

/*DASHBOARD*/
.dash{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  max-width: 100%;
}